<html>
    <head>
    </head>
    
    <body>
    <h1 id="myHeader">Sample Text</h1>
    <input type="text" id="myText" name="New Text"><br>
    <button onclick="changeText()">Change text</button>
    
    <script>
    function changeText(){
        document.getElementById("myHeader").innerHTML = document.getElementById("myText").value;
    }
    </script>
    
    <a href='games/tictactoe'>Test</a><br>
    </body>
</html>